---
title: Blog | Joey Farruggio
layout: "layouts/home.njk"
description: Joey Farruggio is a front-end engineer and designer based in Wisconsin.
---

<section class="max-w-screen-md mx-auto px-4 mt-32">
    <h2 class="font-bold text-orange-400 text-3xl text-highlight-orange">Articles</h2>

    {% for post in collections.blog %}
        {% include "postListItem.njk" %}    
    {% endfor %}
</section>